<div class="container mx-auto flex flex-col xl:flex-row py-10 flex-wrap gap-y-6 xl:gap-y-4">
  <div class="xl:w-1/4 xl:border-r border-white">
    <img
      class="w-56"
      src="{{ site.theme.link }}/static/img/real-people-blanco.png"
      alt="retis real people"
    />
  </div>
  <div class="xl:w-1/4 xl:border-r border-white xl:pl-4">
    {{ address }}
  </div>
  <div class="xl:w-1/4 flex flex-col gap-1 xl:border-r border-r-white xl:pl-4">
    <a href="tel:{{ fn('str_replace', ' ', '', phone) }}"><i class="las la-phone"></i> {{ phone }}</a>
    <p>Direct: {{ phone_direct }}</p>
    <p>Fax: {{ fax }}</p>
    <a href="mailto:gretis@cox.net"><i class="las la-envelope"></i> {{ email }}</a>
  </div>
  <div class="xl:w-1/4 flex flex-col gap-1 xl:pl-4">
    <a href="{{ whatsapp }}"><i class="lab la-whatsapp"></i> Contacto</a>
    <a href="{{ fn('get_privacy_policy_url') }}">Políticas de privacidad</a>
    <a href="{{ terms_link }}">Términos de servicio</a>
  </div>
  <p class="w-full flex-shrink-0 text-center">Copyright {{"now"|date('Y')}}</p>
</div>